<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923269224506-cp949q401vfcm8jlsa16mit002t1j4ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923269224506-cp949q401vfcm8jlsa16mit002t1j4ub</string>
	<key>API_KEY</key>
	<string>AIzaSyDf6dsvKfdXjrdGkCFiDRZ7xxmkx-KF1w8</string>
	<key>GCM_SENDER_ID</key>
	<string>923269224506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.artsofte.rocketchat</string>
	<key>PROJECT_ID</key>
	<string>artsofte-rocket-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>artsofte-rocket-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923269224506:ios:374470d3ea55e1eba87d03</string>
</dict>
</plist>